

<!-- views/partials/footer.ejs -->

<footer>
    <nav>
        <ul>
            <li><a href="">About us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Log out</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
