<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/header.css" rel="stylesheet" type="text/css" >
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/profile"><img src="images/profile-icon.png" alt="go to my profile"></a></li>
                <li><a href="home"><img src="images/home-icon.png" alt="go to home"></a></li>
                <li><a href=""><img src="images/chat-icon.png" alt="go to my chats"></a></li>
            </ul>
            <ul>
                <li><a href="profile"><img src="images/profile-icon-active.png" alt="on my profile page"></a></li>
                <li><a href="home"><img src="images/home-icon-active.png" alt="on home page"></a></li>
                <li><a href=""><img src="images/chat-icon-active.png" alt="on my chat page"></a></li>
               
            </ul>
        </nav>
    </header>
</body>
</html>