<%- include('partials/head.ejs') %> 

<main>
<form method="post" action="/login">
    <fieldset>
    <label for="loginEmail">Email adress</label>
    <input name="loginEmail" type="email" required/>
    <label for="loginPassword">Password</label>
    <input name="loginPassword" type="password" required/>
</fieldset>
<input type="submit" value="Login"/>
</form>
</main>





 
  




