  <!-- Include header main navigation -->
 <!-- <%- include('partials/head') %> -->


<form method="post" action="/home">
    <label for="preference">filter preferences</label>
    <select>
       <option value="no preference">No preference</option>
       <option value="want kids">Want kids</option>
       <option value="don't want kids">Don't want kids</option>
    </select>
    <button>save</button>
</form>

 <h2><!-- Users that match your preference --></h2>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
   
  

 
  




