 <!-- <%- include('partials/head') %> -->
<form method="post" action="/">
    <label for="avatar">
       Add photo
      </label>
    <input type="file" id="avatar" name="name" accept="image/png, image/jpeg">
 </form>
 <h1></h1>
 <p>Model and personal trainer</p>
 <form>
    <label for="description">
       Add Bio  
    </label>
    <textarea rows="5" 
    cols="50" name="description" 
    placeholder="Something about you...">
   </textarea> 
   

 <h3></h3>

