<%- include('partials/head.ejs') %>
<main>
   <h2>Your profile</h2>
<form class="profile" action="/profile" method="POST">
   <fieldset>
      <label for="name">Name</label>
      <input name="name" type="text" value=<%= userData.name %>>
      <label for="bio">Bio</label>
      <input name="bio" type="text" value=<%= userData.bio %>>
   </fieldset>
   <input type="submit" value="Edit profile"/>
</form>
</main>

<%- include('partials/footer.ejs') %>