<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sarah karamatali">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>matchingapp/profile</title>
    <link href="styles/profile.css" rel="stylesheet" type="text/css" >
</head>

<body>
    <header>
        <%- include('partials/header') %>   
    </header>
    <main>
    
        <p><%= users.name %> <%= users.age %></p>

       
     
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>

</html>
