<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="sarah karamatali">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>matchingapp/profile</title>
    <link href="styles/profile.css" rel="stylesheet" type="text/css" >
</head>

<body>
    <header>
        <%- include('partials/header') %>
        
    </header>
   

    <main>
        <ul>
            <li><img src="images/instagram.svg" alt="instagram"></li>
            <li><img src="images/facebook.svg" alt="facebook"></li>
            <li><img src="images/twitter.svg" alt="twitter"></li>
            <li><img src="images/pinterest.svg" alt="pinterest"></li>
            <li><img src="images/snapchat.svg" alt="snapchat"></li>
            <li><img src="images/youtube.svg" alt="youtube"></li>
        </ul> 

    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>

</html>
