/* Remove all default styles */
li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

header ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:0em;
    padding:0em;
}

li {
    padding: .5em, 0em, 1em, 0em;
}

header img{
    width:7vw;
    height: 7vw;
    padding: 1em;
}









