/* CSS Document */

*,
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* SOURCE FONTS https://freefontsfamily.com/futura-font-family-free/ */

@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_light_bt-webfont.woff2') format('woff2'), url('../fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Condensed';
    src: url('../fonts/FuturaCondensedPlain.woff2') format('woff2'), url('FuturaCondensedPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Remove all default styles */

body {
    margin: 0;
    padding: 0;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/*
==========================================
HEADER NAV
==========================================
*/

header {
    margin-top: .5em;
    margin-bottom: 1em;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0em;
    padding: 1em;
}
header a {
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
header ul li:first-child a:link {
    background-image: url(../images/home-icon.png);
}
header ul li:nth-child(2) a:link {
    background-image: url(../images/profile-icon.png);
}
header ul li:nth-child(2) a:hover {
    background-image: url(../images/profile-icon-active.png);
}
header ul li:last-child a:link {
    background-image: url(../images/chat-icon.png);
}

/*
==========================================
 BODY MAIN
==========================================
*/

html,
body {
    min-height: 100%;

}
body {
    background: linear-gradient(0deg, rgba(105, 29, 82, .8) 0%, rgba(90, 14, 49, 1) 100%);
    background-repeat: no-repeat;
    
}

/*
==========================================
 PROFILE PAGE
==========================================
*/

h2 {
    font-family: futuralight;
    color: white;
    letter-spacing: .15em;
    font-size: 1.5em;
    font-weight: 100;
    text-align: left;
    margin-top: 1em;
    margin-left:1em;
}


form input[type=file] {
    display: none;
}

/* styles form add bio */

form textarea::placeholder {
    font-family: futuralight;
    letter-spacing: .2em;
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}
form textarea {
    padding: 1em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    font-family: futuralight;
    font-size: .9em;
}

form {
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    border-style: none;
    margin: auto;
    margin-top: 2em;
}
form fieldset {
    display: flex;
    flex-direction: column;
    border-style: none;
}
form label {
    font-family: futuralight;
    font-size: 1em;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.5);
    padding-top: 1em;
    color: white;
    padding: 1em;
    font-family: futuralight;
    letter-spacing: .2em;
}
form input {
    font-family: futuralight;
    font-size: 1em;
    cursor: pointer;
    width:80%;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: none;
    color: white;
    letter-spacing: .2em;
    padding: 1em;
    margin-top: 1em;
    align-self: flex-start;
}
form input:hover {
    background-color: rgb(199, 15, 116);
}
form input[type=submit] {
    margin-top: 2em;
    background-color: white;
    color: rgba(90, 14, 49, 1);
    width:50%;
    margin-left:1em;
    margin-bottom:100%;
   
   
}
form.profile input[type=text] {
    background-color: transparent;
   
}

form.profile label{
    color:rgba(255, 255, 255, 0.5);
}

/*
==========================================
  FOOTER
==========================================
*/

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 1em;
}
footer a {
    color: rgba(255, 255, 255, 0.5);
    font-family: futuralight;
    letter-spacing: .2em;
    font-size: .9em;
}
